# For Privy Authentication
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=

# For Solana Connection
NEXT_PUBLIC_NETWORK=devnet

# For Drift Program ID
NEXT_PUBLIC_DRIFT_PROGRAM_ID=

NEXT_PUBLIC_BASE_URL=

# USDT contract address on bnb chain
USDT_CONTRACT_ADDRESS=

# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=
OPENAI_API_KEY=